<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "elements": {
    "message": '<span id="test" class="cc-message-manou"></span>',
  },
  "palette": {
    "popup": {
      "background": "#f9fcfe",
      "text": "#506690"
    },
    "button": {
      "background": "#E7ECFB",
      "text": "#335eea"
    }
  },
  "theme": "classic",
  "position": "bottom-left",
  "content": {
    "message": "En visitant ce site web, vous acceptez notre politique sur l'utilisation des cookies. 🍪",
    "dismiss": "Fermer",
    "link": "En savoir plus",
    "href": "/mentions-legales"
  }
});
</script>
