<!-- HEADER
================================================== -->
<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <!-- Heading -->
        <h1 class="display-4 text-center">
          <%= t("faq.#{name}.h1") %>
        </h1>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SECTION
================================================== -->
<section class="pt-6 pt-md-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_1") %>
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
